.modal{
    position:static;
    display: flex;
    justify-content: center;
     
}

#popup {
  position: fixed;
  transform: translate(-50%, -50%);
  top:20%;
  left:50%;

  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.close{
  position:absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.close:hover{
    background-color: red;
    color: white;
}


.modal-box{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 150px 0;
    background-color: lightpink;
    border: 10px black double;
    border-radius: 20px;
    color: red;
    width: 550px;
}


.user, .password{
    padding: 7px 30px 7px 10px;
    border-radius: 50px;
    margin-top: 5px;
    border: none;
}

.dani-photo{
    width: 120px;
    border-radius: 75px;
    margin-top: 30px;
    margin-bottom: 10px;
 
}

.name{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
}

/* CSS */
.dani-btn {
  margin-top: 100px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 100px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Bitcount,monospace;
  height: 35px;
  width: 200px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.dani-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.dani-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.dani-btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}