*{
    box-sizing: border-box;
}

body,html{
    background-color:#f15380;
    
    font-family: Bitcount, Arial;
    margin: 0;
}

p,h1{
    margin: 0;
}

.big-div{
    border: 10px #f78dbb solid;
    padding: 30px 40px;
    height: 100vh;
    
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.log-out{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.log-out:hover{
    text-decoration: underline;
}

.dani-pfp{
    width: 50px;
    border: 2px rgba(255, 192, 203, 0.76) solid;
    border-radius: 25px;
    margin-left: 20px;

}

.chocolate{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 4rem 5rem;
    justify-content: center;
}

.chocolate button{
    width: 100%;
    height: 200px;
}

.modal{
    position:static;
    display: flex;
    justify-content: center;
     
}

#popup {
  position: fixed;
  transform: translate(-50%, -50%);
  top:20%;
  left:50%;

  visibility: hidden;
  opacity: 0;
  
}

#popup.active {
  visibility: visible;
  opacity: 1;
}

.close{
  position:absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: white;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.close:hover{
    background-color: red;
    color: white;
}

.modal-box{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 50px 0;
    /* background-color: lightpink; */
    background-image: linear-gradient(to bottom right, rgb(26, 20, 49), rgba(56, 44, 44, 0.562));
    border: 10px black double;
    border-radius: 20px;
    color: red;
    font-family: Bitcount, Arial;
    font-size: 35px;
    width: 550px;
    padding: 20px 40px;
}

.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: -10px;
}
.choice1{ /*BAD button*/
    background: #4703209a;
    color: rgb(240, 191, 191);
    padding: 13px 90px;
    font-family: Bitcount, Arial;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    border: 4px rgb(54, 5, 5) groove;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     cursor: pointer;
}
.choice2{ /*GOOD buttons */
    background: #d6a7c1;
    color: rgb(241, 220, 241);
    padding: 10px 150px;
    font-family: Bitcount, Arial;
    font-size: 20px;
    border: 4px #e48dbc dashed;
    cursor: pointer;
}

.choice1:hover{
    background-color:#470320 ;
     color: rgba(240, 191, 191, 0.699);
}

.choice2:hover{
    border: 4px #e48dbc solid;
    text-decoration: underline;
    color: white;
}

#sophia_sad{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#msg{
    width: 100%;
    color: red;
    font-family: Bitcount, Arial;
    font-size: 35px;
}