<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance Portal</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="big-div">
        <div class="nav">
            <button class="log-out" onclick="toggle();">Log out...?</button>
            <img class="dani-pfp" src="dani.jpg" alt="dani-pfp">
        </div>
        
        <div class="modal" id="popup">
            <div class="modal-box">

                <p id="msg"></p>

                <img id="sophia_sad" src="sophia_sad_man.png" alt="depression">

                <audio id="sad_k_drama" src="/Sad_Instrumental.mp3" loop autoplay muted></audio>
                <audio id="sophia_cry" src="/sophia_cry.m4a" autoplay muted></audio>
                <audio id="sophia_laugh" src="/sophia_laugh.mp3" autoplay muted></audio>

                <div class="choose">
                    <button style="background-image: url(blood.png);" class="choice1" onclick="window.location.href = '/logout'">Truely... Log out</button>
                    <button class="choice2" onclick="popup(false); toggle();"> Go Back</button>
                </div>
            </div>
        </div>
        
        <div class="chocolate" id="blur">
            <button onclick="window.location.href = '/form'">Portal</button>

            <button onclick="window.location.href = '/form'">Portal</button>

            <button onclick="window.location.href = '/form'">Portal</button>

            <button onclick="window.location.href = '/form'">Portal</button>

            <button onclick="window.location.href = '/form'">Portal</button>
        </div>
    
    </div>
    

<script>

    const goback_btn = document.querySelector(".choice2");
    const sophia_img1 = document.getElementById("sophia_sad");
    const sophia_laugh = document.getElementById("sophia_laugh");
    const sophia_boohoo = document.getElementById("sophia_cry")

    let bool = false;

    document.querySelector('.log-out').addEventListener('click',e=>{
        if(bool == false){
            bool =true;
            popup(bool);
        }else{
            bool = false;
            popup(bool);
        }
        
        
    });

    function popup(pop){
        var msg = document.querySelector("#msg");
        var blur = document.getElementById('blur');
        var popup = document.getElementById('popup');

        function showText (target, message, index, interval) {   
            if (index < message.length) {
                $(target).append(message[index++]);
                setTimeout(function () { showText(target, message, index, interval); }, interval);
            }
        }

         msg.textContent = "";

        if(pop){
            
            blur.classList.toggle('active');
            
            popup.classList.toggle('active');
             
            $(function () {
            showText("#msg", "You REALLY want to leave...? ", 0, 50);
            });


        }else{
            var blur = document.getElementById('blur');
            blur.classList.remove('active');
            var popup = document.getElementById('popup');
            popup.classList.remove('active');
            msg.textContent = "";
            bool = false;
        }
        
    }
    
    function toggle() {
        const sophia_img1 = document.getElementById("sophia_sad");

        
        const sad_k_drama = document.getElementById("sad_k_drama");
        const sophia_boohoo = document.getElementById("sophia_cry");
        //const sophia_laugh = document.getElementById("sophia_laugh");


        if (sad_k_drama.muted == true) {
             sad_k_drama.play();
            sad_k_drama.muted = false;
           
            sophia_boohoo.play();
            sophia_boohoo.muted = false;
            
        } else {
            sad_k_drama.pause();
            sad_k_drama.muted = true;

            sophia_boohoo.pause();
            sophia_boohoo.muted = true;
            
        }
    }

    
    let suppressMouseLeave = false;
    sophia_img1.src = "sophia_sad_man.png";

    goback_btn.addEventListener('mouseenter', e => {
        sophia_img1.src = "sophia_happy_man_confetti.png";
        sophia_laugh.currentTime = 0; // Rewind to start
        sophia_laugh.play();
        sophia_laugh.muted = false;
        toggle();
        
    });
    goback_btn.addEventListener('mouseleave', e => {
        if (suppressMouseLeave) return;
        sophia_img1.src = "sophia_sad_man.png";
        sophia_laugh.muted = true;
        sophia_laugh.pause();
        toggle();
    });

     const params = new URLSearchParams(window.location.search);
        if (params.get('submitted') === 'true') {
            alert('Complaint successfully submitted!');

            const url = new URL(window.location);
            url.searchParams.delete('submitted');
            window.history.replaceState({}, document.title, url.pathname);
    }

    
        
        
</script>
</body>
</html>