<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grievance Portal</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <button onclick="toggle()">Log out...?</button>
    <div class="modal" id="popup">
        <div class="modal-box">

            <button class="close" onclick="toggle()"> ✖ </button>
            <p>You REALLY want to leave...?</p>

            <img id="sophia_sad" src="sophia_sad_man.png" alt="depression">

            <audio id="sad_k_drama" src="/Sad_Instrumental.mp3" loop autoplay muted></audio>
            <audio id="sophia_cry" src="/sophia_cry.m4a" autoplay muted></audio>
            <audio id="sophia_laugh" src="/sophia_laugh.mp3" autoplay muted></audio>

            <div class="choose">
                <button class="choice1" onclick="window.location.href = '/logout'">Truely... Log out</button>
                <button class="choice2" onclick="toggle()"> Go Back</button>
            </div>
        </div>
    </div>
    
    <div class="chocolate" id="blur">
        <button onclick="window.location.href = '/form'">Portal</button>

        <button onclick="window.location.href = '/form'">Portal</button>

        <button onclick="window.location.href = '/form'">Portal</button>

        <button onclick="window.location.href = '/form'">Portal</button>

        <button onclick="window.location.href = '/form'">Portal</button>
    </div>
    

<script>
    
    function toggle() {
        const sophia_img1 = document.getElementById("sophia_sad");

        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');

        const sad_k_drama = document.getElementById("sad_k_drama");
        const sophia_boohoo = document.getElementById("sophia_cry");
        //const sophia_laugh = document.getElementById("sophia_laugh");
        if (sad_k_drama.muted == true) {
            sad_k_drama.muted = false;
            sad_k_drama.play();

            sophia_boohoo.muted = false;
            sophia_boohoo.play();
        } else {
            sad_k_drama.muted = true;
            sad_k_drama.pause();

            sophia_boohoo.muted = true;
            sophia_boohoo.pause();
        }
    }

    const goback_btn = document.querySelector(".choice2");
    const sophia_img1 = document.getElementById("sophia_sad");
    const sophia_laugh = document.getElementById("sophia_laugh");
    const sophia_boohoo = document.getElementById("sophia_cry")

    let suppressMouseLeave = false;
    sophia_img1.src = "sophia_sad_man.png";

    goback_btn.addEventListener('mouseenter', e => {
        sophia_img1.src = "sophia_happy_man_confetti.png";
        sophia_laugh.currentTime = 0; // Rewind to start
        sophia_laugh.muted = false;
        sophia_laugh.play();

        sophia_boohoo.muted = true;
        sophia_boohoo.pause();
    });
    goback_btn.addEventListener('mouseleave', e => {
        if (suppressMouseLeave) return;

        sophia_img1.src = "sophia_sad_man.png";
        sophia_laugh.muted = true;
        sophia_laugh.pause();

        sophia_boohoo.muted = false;
        sophia_boohoo.play();
    });

    // goback_btn.addEventListener('change', e => {
    //     suppressMouseLeave = true;

    //     sophia_laugh.pause();
    //     sophia_laugh.muted = true;

    //     sophia_boohoo.pause();
    //     sophia_boohoo.muted = true;
    // });
    
    const params = new URLSearchParams(window.location.search);
    if (params.get('submitted') === 'true') {
        alert('Complaint successfully submitted!');
    }
        
</script>
</body>
</html>